.App {
    text-align: center;
}

html {
    background: url(images/PlainBlue.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Dashboard*/

.dashShell {
    width: auto;
    height: 250px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashLeft {
    font-family: SokaRegular;
    text-shadow: black 2px 2px;
    font-size: xx-large;
    font-weight: bolder;
    color: lightgray;

}

.dashPic {
    margin-top: 10px;
    width: 200px;
    height: 200px;

}


.dashRight {
    font-family: PersianSword;
    font-size: large;
    color: lightgray;
    font-weight: bold;
    font-style: italic;
}

/* Projects */

.pShell {
    width: auto;
    color: lightgray;
    height: 450px;
    background-color: transparent;
    padding: 20px;
    font-family: SokaThin;
    font-size: large;
}

.pBox {
    display: flex;
}


.plogo {
    width: 80px;
    height: 55px;
    margin-top: 15px;
    margin-right: 20px;
    border: solid white 1px;
}

/* Tech Skills */

.techShell {
    width: auto;
    height: 500px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.techBox {
    font-family: SokaThin;
    font-size: large;
    width: 300px;
    height: 425px;
    color: lightgray;
    font-weight: bold;
    font-style: italic;
    border: 1px white solid;
}

.techLogo {
    width: 30px;
    height: 30px;
}

/* WorkRecord */

.wkShell {
    width: auto;
    color: lightgray;
    height: 1500px;
    background-color: transparent;
    padding: 20px;
    font-family: SokaThin;
    font-size: large;
}

li {
    list-style-type: '';
}

.wklogo {
    width: 80px;
    height: 55px;
    margin-right: 20px;
    border: solid black 1px;
}

/*Contact Page*/

.contactlogo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 20px;
}

.contactlogo2 {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-top: 5px;
}

.contShell {
    width: auto;
    height: 150px;
    background-color: transparent;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contLeft {
    font-family: SokaRegular;
    font-size: x-large;
    display: flex;
}

.contCenter {
    font-family: SokaRegular;
    font-size: x-large;
}

.contRight {
    font-family: SokaRegular;
    font-size: x-large;
    display: flex;
}

/* AboutMe */

.AMShell {
    font-family: SokaThin;
    color: lightgray;
    font-size: medium;
    width: auto;
    height: 150px;
    background-color: transparent;
    padding: 20px;
}



